:root {
    --card-color: hsl(212, 45%, 89%);
    --background-color: hsl(216, 15%, 48%);
    --bigtext-color: hsl(218, 44%, 22%);
}

body {
    font-family: "Outfit", serif;
    background-color: var(--card-color);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
}

@media (max-width: 375px) {
    .qr-card {
        width: 80%;
        height: 50%;
    }
}

.qr-card {
    background-color: white;
    display: flex;
    width: 300px;
    height: 475px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap: 15px;
}

#qr-code {
    width: 90%;
    height: 60%;
    margin-top: 15px;
    border-radius: 15px;
}

.text {
    width: 80%;
}

#bold-text {
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

#small-text {
    font-size: 15px;
    text-align: center;

}

.attribution { 
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

